<!DOCTYPE html>
<html>
<% include header %>
<div class="container">
  <div class="jumbotron">
    <div><h1><%= message %></h1>
    <form>
      <p>Click to:</p>
             <button type='submit', value='Video', formaction="/video"> Video</button>
    </form>  
  </div>
  </div>
  </div>
  </body>
</html>